﻿   @{
        ViewData["Title"] = "PainelComum";
    }

    <h1>Painel Colaborador</h1>

    <p>Informações do Usuário</p>
    <p>Você é um Colaborador da Loja</p>

        Seja bem vindo, <span>Nome: @ViewBag.Nome</span>
    <p>Tipo: @ViewBag.Tipo</p>
    <p>E-mail: @ViewBag.Email</p>